/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;  
}

/* investigate why they are not wokring inside the component*/
/*.mat-input-underline {
  display: none;
}*/
body{
  font-family: 'Roboto', 'Roboto', sans-serif !important;
}

.mat-input-wrapper {
  margin: 1em 0 0 0 !important;
}

/*.mat-input-placeholder-wrapper {
  top: 0 !important;
}*/

.icon-size-32 {
  font-size: 32px;
  width: 32px !important;
  height: 32px !important;
}

.icon-size-40 {
  font-size: 40px;
  width: 40px !important;
  height: 40px !important;
}

.icon-size-48 {
  font-size: 48px;
  width: 48px !important;
  height: 48px !important;
}

button {
  top:-1.5px;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  /*width: 240px;*/
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

button:hover, button:active, button:focus {
  border-color: #ed2553 !important;
}