<div class="container" [ngClass]="getStyle()">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <div class="input-container">
      <md-input-container>
        <input mdInput type="text" [(ngModel)]="loginData.username" required placeholder="Username" />
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="loginData.password" required placeholder="Password" />
      </md-input-container>
    </div>
    <div class="button-container">
      <button md-raised-button (click)="login()"><span>Login</span></button>
    </div>
  </div>
  <div class="card alt">
    <div class="toggle" (click)="showActiveClass = !showActiveClass;">
      <i class="material-icons">perm_identity</i>
    </div>
    <h1 class="title">Register
      <div class="close" (click)="showActiveClass = !showActiveClass;">
        <i class="material-icons">close</i>
      </div>
    </h1>
    <div class="input-container">
      <md-input-container>
        <input mdInput type="text" [(ngModel)]="registerData.username" placeholder="Username" required/>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="registerData.password" placeholder="Password" required/>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="registerData.repeatPassword" placeholder="Repeat Password" required/>
      </md-input-container>
    </div>
    <div class="button-container">
      <button md-raised-button (click)="register()">Next</button>
    </div>
  </div>