@import "../../../../assets/colors.scss";


    .spacer {
        flex: 1 1 auto;
    }

    span {
        padding: 0 15px;
        cursor: pointer;
    }

    span:hover {
        color: rgba(90, 90, 90, 0.7);
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .menu-item-toggle-icon {
        vertical-align: middle;
    }


.small-navbar{
    background-color: #ed2553;     
    min-height: 28px;
    font-size: 14px;
    min-height: 32px;
    font-size: 18px;
    text-align: left;
    padding: 0 16px;
    box-shadow:  0 5px 5px -5px #333;

    span {
        display: inline-block;
        margin: 3px 5px;
        color: $toolbar-button-color;
        cursor: pointer;
        padding: 0 10px;
    }

    span:hover {
        color: rgba(0, 0, 0, 0.7);        
    }
 
    .highlight-link {
        color: #fbb63c;
    }
 
    .highlight-link:hover {
        color: #ef9c09;
    }

    .mat-toolbar-row {
        height: 24px;    
    }
}

.small-navigation {
    .small-nav-item {
        padding: 5px 0 5px 15px;
        font-size: 20px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .small-nav-toggle-item {
        font-family: Roboto, "Helvetica Neue", sans-serif;        
    }

    .small-nav-toggle-item > button {
        padding: 0 0 0 15px;
        font-size: 20px;
    }
    
    .inner-menu {
        padding-left: 35px !important;
        background-color: $accent-color-light;
    }

    .inner-menu > div {
        padding: 5px 0;
    }

    div {
        color: $toolbar-button-color;
        cursor: pointer;
    }

    div:hover {
        color: rgba(0, 0, 0, 0.7);        
    }

    .toggle {
        transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
    }

    .notoggle {
        transform: rotateZ(270deg);
        -webkit-transform: rotateZ(270deg);
        -ms-transform: rotateZ(270deg);
    }
}