<div class="small-navbar">
    <span>Hello, {{loggedUser}}!</span>
    <span class="spacer"></span>
    <span (click)="openRoomDialog()">Rooms</span>
    <span (click)="openUserDialog()">Users</span>
</div>