<div class="search-content-container image-large">
    <md-input-container class="search-input-container">
        <input mdInput type="text" placeholder="Search term" [(ngModel)]="searchModel" (keyup.enter)="onSearchClick()" />
        <button mdSuffix md-button (click)="onSearchClick()">
            <md-icon>search</md-icon>
        </button>
    </md-input-container>
</div>