.search-content-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.search-input-container {
    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.image-large {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) 
{
    .image-large {
        background-image: url(/assets/img/main-small.png);
        height: 200px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) 
{
    .image-large {
        background-image: url(/assets/img/main-medium.png);
        height: 400px;
    }
}

@media screen and (min-width: 1025px) 
{
    .image-large {
        background-image: url(/assets/img/main.png);
        height: 500px;
    }
}