app-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    navbar {
        position: relative;
        z-index: 10;
    }
}

[hidden] {
    display: none !important;
}

video{
    border: 2px solid #ed2553;
    border-radius: 2px;
    height: 200px;
}

.incoming-message{
    color: #000;
    font-weight: 600;
}


.outgoing-message{
    color: #ed2553;
    font-weight: 600;
}