@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-blue-grey, 700, 200, 500);
$warn: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent, $warn);

.back-color-primary {
  background-color: mat-color($primary);
}

.back-color-accent {
  background-color: mat-color($accent);
}

.back-color-warn {
  background-color: mat-color($warn);
}

@include angular-material-theme($theme);
.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

/*app related global styles*/

md-list-item {
  .mat-list-item-content {
      height: auto !important;
  }
}

md-select {
  .mat-select-underline {
    margin-bottom: -4px;
  }
}

@media screen and (max-width: 960px) {
  .mat-select {
    margin: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .mat-select {
    margin: 10px;
  }
}

.app-layout-padding {
  padding: 20px;
}

.app-layout-margin {
  margin: 20px;
}