.message{
    border: 2px solid #ed2553;
    border-radius: 2px;    
    width:100%;
}
.read{
    height: 275px;
    margin-bottom: 5px;
    overflow-y: scroll;
}
.write{
    
}

md-input-container{
    width: 100% !important;
}