<div>
    <p>
        Write to room here!
    </p>
    <div id="chat-output"class="read message">

    </div>
    <div class="write message">
        <md-input-container>
            <textarea mdInput id="input-text-chat" placeholder="Type here..." [(ngModel)]="message" name="message"></textarea>
        </md-input-container>
        <button md-raised-button (click)="sendMessage()">Send</button>
        <button md-raised-button (click)="shareFile()">Add File</button>
    </div>
</div>