<navbar></navbar>
<div class="content">
    <div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center" class="open-join-bar">
        <div fxFlex="50">
            <md-input-container>
                <input mdInput type="text" [(ngModel)]="roomName" required placeholder="Room Name" />
            </md-input-container>
        </div>
        <div fxFlex="50">
            <md-checkbox class="example-margin" [(ngModel)]="isPrivate">Private</md-checkbox>
            <button md-raised-button (click)="openRoom()">Open</button>
            <button md-raised-button (click)="joinRoom()">Join</button>
        </div>
    </div>
    <div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center" class="chat">
        <div fxFlex="50" class="video" id="videos-container">
        </div>
        <div fxFlex="50" class="datachannel">
            <chat></chat>
        </div>
    </div>
</div>