<h3 (click)="getRooms()">
    Rooms
</h3>
<div>
    <md-input-container>
        <input mdInput type="text" [(ngModel)]="searchData" required placeholder="Room Name" />
    </md-input-container>
    <br/>
    <button md-raised-button (click)="getRoom()">Search</button>
</div>

<div class="container">
    <md-list>
        <md-list-item *ngFor="let room of rooms">
            <p md-line>{{room.name}}</p>
        </md-list-item>
        <h3 md-subheader>We found {{rooms.length}} results</h3>
    </md-list>
</div>