h3{
  color: #ed2553;
}

button {
  top:-1.5px;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  //width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  bottom: 20px;
  margin-top: 35px;
}

button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 10px;
  border-radius: 100%;
  //margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

button:hover, button:active, button:focus {
  border-color: #ed2553 !important;
}

.container{
    border: 2px solid #ed2553;
    border-radius: 2px;    
    width:100%;
    height: 275px;
    margin-bottom: 5px;
    overflow-y: auto;
}

.icon{
  width:20px;
  height:20px;
}