<h3 (click)="getUsers()">
    Users
</h3>
<div>
    <md-input-container>
        <input mdInput type="text" [(ngModel)]="searchData" required placeholder="Username" />
    </md-input-container>
    <br/>
    <button md-raised-button  (click)="getUser()">Search</button>
</div>

<div class="container">
    <md-list>
        <md-list-item *ngFor="let user of users">
            <div class="icon" [style.backgroundColor]="user.color"></div>
            <p md-line>{{user.username}}</p>
        </md-list-item>
        <h3 md-subheader>We found {{users.length}} results</h3>
    </md-list>
</div>