:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.footer-content{
    height: 30px;
    background-color: #ed2553;
    color: white;
    text-align: center;
    padding: 15px 0;
}